NODE_ENV=development

# Gateway
GATEWAY_PORT=3000
GATEWAY_HOST=localhost

# Identity Service
IDENTITY_PORT=3001
IDENTITY_HOST=localhost
IDENTITY_SERVICE_URL=http://localhost:3001
DATABASE_FILENAME=./data/identity.db
# Required, at least 32 characters. Generate with: openssl rand -hex 32
JWT_SECRET=
JWT_EXPIRES_IN=24h

# Enrollment Service
ENROLLMENT_PORT=3002
ENROLLMENT_HOST=localhost
ENROLLMENT_SERVICE_URL=http://localhost:3002

# Assessment Service
ASSESSMENT_PORT=3003
ASSESSMENT_HOST=localhost
ASSESSMENT_SERVICE_URL=http://localhost:3003

# Notification Service
NOTIFICATION_PORT=3004
NOTIFICATION_HOST=localhost
NOTIFICATION_SERVICE_URL=http://localhost:3004
SMTP_HOST=localhost
SMTP_PORT=1025
